<div id="middleLevelContainer1">
  <div class=" leftColumn">
	
    <div class="signInForm">
      <h1 class="signInHeader generalPageHeader">API do Leve.Me</h1>

      <p>Utilize nossa API e otimize o seu serviço</p>
		
	  <p class="signup_features_list">
		<h1>XML</h1>
		</br>
		<%= "#{$URL_ROOT}/encurtar/api.xml?url=<strong>http%3A%2F%2Fwww.google.com.br%2Fsearch%3Fhl%3Dpt-BR%26q%3Dinfopod"%></strong>
	  </p>
	
	  <p  class="signup_features_list">
		<h1>TEXTO</h1>
		</br>
		<%= "#{$URL_ROOT}/encurtar/api.txt?url=<strong>http%3A%2F%2Fwww.google.com.br%2Fsearch%3Fhl%3Dpt-BR%26q%3Dinfopod"%></strong>
	  </p>	
	
	  <div class="hr">
	   <hr />
	  </div>	
    </div>

  </div>
</div>

<div style="clear"/>
<br/>